@font-face {
    font-family: 'Fredoka One';
    src: url('../fontes/FredokaOne-Regular.ttf');
    src: url('../fontes/FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/FredokaOne-Regular.woff') format('woff'),
        url('../fontes/FredokaOne-Regular.ttf') format('truetype'),
        url('../fontes/FredokaOne-Regular.svg#Fredoka') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#content #btn-voltar {
    position: absolute;
    top:0;
    left:0;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
}

#content #btn-voltar i {
    font-size: 50px;
    color:#c2e233;
}

#content #cabecalho,
#content #itens {
    flex: 1;
    background: #04D699;
    padding: 30px 20px;
}

#content #itens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#content #itens .item {
    width: 30%;
    height: 450px;
    max-height: 450px;
    min-height: 450px;
    display: flex;
    border-radius: 15px;
    margin: 20px 0px;
}

#content #itens .item.opened {
    flex-direction: row;
    transition: width .5s;
    width: 100%;
}

#content #itens .item.closed {
    transition: width .5s;
    flex-direction: column;
}

#content #itens .item .img-holder {
    flex: 1;
}

#content #itens .item .content {
    flex: 2;
    background-color: #3f3d3d;
    color: #fff;
    font-family: 'Fredoka One';
    font-size: 20px;
    overflow: hidden;
    padding: 30px !important;
}

#content #itens .item.closed .content {
    max-height: 100%;
}

#content #itens .item.opened .content {
    max-height: 100%;
}

#content #itens .item .content .text {
    overflow: hidden;
    height: 90%;
}

#content #itens .item .content .option {
    display: flex;
    flex-direction: row;
}

#content #itens .item .content .option > div {
    flex: 1;
}

.linkar-pagina {
    cursor: pointer;
}

#content #itens .item .content .option i {
    color: #04D699;
    background-color: #fff;
    border-radius: 16px;
    font-size: 30px;
    border: 1px solid black;
}

#content #itens .item .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
}

#content #itens .item.opened .img-holder {
    border-radius: 15px 0px 0px 15px;
}

#content #itens .item.closed .img-holder {
    border-radius: 15px 15px 0px 0px;
}

#content #itens .item .img-holder .text-img {
    font-family: 'Fredoka One';
    font-size: 30px;
    color: #04D699;
    letter-spacing: -2px;
    font-style: italic;
}

#content #itens .item .content {
    padding: 20px;
}

#content #cabecalho #pergunta {
    color: #fff;
    font-size: 32px;
    font-family: 'Fredoka One';
    text-align: center;
    margin-left: 30px;
}

#content #cabecalho #pergunta ol {
    text-align: left;
}

#content #cabecalho #pergunta .title {
    color:#008d72;
    font-size: 40px;
}

#content #cabecalho #pergunta .img-holder {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#content #cabecalho #pergunta .img-holder img {
    height: 100%;
    max-width: 100%;
}

#content #cabecalho #pergunta .numero {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 10px;
}

#content #entradas,
#content #cabecalho-inicial {
    background-color: #3f3d3d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content #entradas {
    flex: 3;
}

#content #cabecalho-inicial {
    height: 50px !important;
}

#content #cabecalho-inicial .title {
    font-size: 36px;
    font-weight: bold;
    color:#04D699;
    font-family: system-ui;
    letter-spacing: -2px;
}

#content #cabecalho-inicial .title .exclamation {
    transform: rotate(15deg);
}

#content #entradas .apresentacao {
    color:#04D699;
    font-family: 'Fredoka One';
    font-size: x-large;
    padding: 10px 0px;
    text-align: center;
}

#content #entradas form {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

#content #entradas form .descricao {
    display: block;
    color:#fff;
    font-weight: bold;
    font-family: 'Fredoka One';
    font-size: large;
    padding: 5px 0px;
}

#content #entradas form input,
#content #entradas form select,
#content #entradas form button,
#content #entradas form textarea {
    font-size: 24px;
    padding: 5px 10px;
    font-family: 'Fredoka One';
    outline: 0;
    margin: 5px;
}

#content #entradas form input,
#content #entradas form select,
#content #entradas form textarea {
    color: #04D699;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    width: 30%;
    border-bottom: 1px solid #fff;
}

#content #entradas form textarea {
    width: 80% !important;
    margin-bottom: 10px;
    max-height: 200px;
}

#content #entradas form button {
    color: #fff;
    background-color: #04D699;
    border: none;
    border-radius: 20px;
    max-width: 400px;
    flex: 1;
    cursor: pointer;
}

#content #entradas form select option {
    background-color: #3f3d3d;
}

::-webkit-input-placeholder {
    color: #04D699;
 }
 
 :-moz-placeholder {
    color: r#04D699ed;  
 }
 
 ::-moz-placeholder {
    color: #04D699;  
 }
 
 :-ms-input-placeholder {  
    color: #04D699;  
 }

#content #solucoes {
    flex: 3;
    background-image: url('../img/fundo.png');
    opacity: .7;
    background-repeat: repeat;
    background-color: #868686;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#content #solucoes #terminal {
    border: 1px solid #000;
}

#content #solucoes #terminal .barra {
    height: 30px;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#content #solucoes #terminal .barra .header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content #solucoes #terminal .barra .header img {
    height: 20px;
    margin: 0px 5px;
}

#content #solucoes #terminal .barra .options {
    height: 20px;
    margin-right: 5px;
}

#content #solucoes #terminal .barra .options .scroll {
    font-size: 20px;
    transition: transform .2s;
    cursor: pointer;
}

#content #solucoes #terminal .barra .options .clean {
    font-size: 20px;
    cursor: pointer;
}

#content #solucoes #terminal .barra .options .scroll.closed {
    transition: transform .2s;
    transform: rotate(0.5turn);
}

#content #solucoes #terminal .terminal-content {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 16px;
    overflow: hidden;
    word-break: break-all
}

#content #solucoes #terminal .terminal-content .img-holder {
    margin: 10px;
    height: 600px;
}

#content #solucoes #terminal .terminal-content .img-holder .title {
    height: 30px;
    font-weight: bold;
    color:mediumspringgreen;
    font-size: 24px;
}

#content #solucoes #terminal .terminal-content .img-holder img {
    height: 90%;
    max-width: 100%;
}

#content #solucoes #terminal .terminal-content .escondido-780 {
    display: none;
}

#content #solucoes #terminal .terminal-content a {
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    color:darkturquoise; 
}

#content #solucoes #terminal .terminal-content a:hover {
    font-weight: bolder;
    text-decoration: underline; 
    color:royalblue;
}

#content #solucoes #terminal .terminal-content.opened {
    height: auto;
}

#content #solucoes #terminal .terminal-content.closed {
    height: 0;
}

#content #solucoes #terminal .terminal-content p {
    margin: 0;
    padding: 10px;
}

#content #solucoes #terminal .terminal-content p.erro {
    color:red;
}

#content #solucoes #terminal .terminal-content .numero {
    color: deeppink;
}

#content #solucoes #terminal .terminal-content .tipagem {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

#content #solucoes #terminal .terminal-content .virgula,
    #content #solucoes #terminal .terminal-content .tabela {
    color: yellow;
}

#content #solucoes #terminal .terminal-content .grifado {
    background-color: darkblue;
}

#content #solucoes #terminal .terminal-content .observacao {
    color:darkorange;
    font-weight: bold;
}

#content #solucoes #terminal .terminal-content .object {
    color:forestgreen;
}

#content #solucoes #terminal .terminal-content .sql {
    color:blue;
}

.ver-mais {
    color:#04D699;
    cursor: pointer;
}